@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Recursive", sans-serif;
}

header {
  background-color: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 1rem;
}

.navbar ul li {
  padding: 1rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  height: 300px;
}

.btn {
  border-radius: 1rem;
  background-color: black;
  color: white;
  outline: none;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0.5rem 0.5rem;
  max-height: 40px;
  font-size: 1rem;
  border: 2px solid white;
}

.head {
  height: 50px;
}

.section2 {
  background-color: #141414;
}

.card {
  display: flex;
  flex-direction: column;
}
.card > h4 {
  color: #60a5fa;
  margin-bottom: 20px;
}

.title {
  font-weight: 300;
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

.card {
  margin-left: 100px;
  margin-top: 50px;
}

.card > h2 {
  color: white;
  margin-bottom: 20px;
}

.card > p {
  color: gray;
  justify-content: center;
}

.author > h4 {
  margin-bottom: 20px;
  color: white;
}

.card .time {
  color: gray;
}

.card > img {
  height: 450px;
  width: 800px;
  border-radius: 1rem;
}

.main-section {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.card .card-image {
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.main-section2 {
  display: flex;
}
