@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Recursive", sans-serif;
}

header {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.699)),
      to(rgba(0, 0, 0, 0.699))
    ),
    url("img/hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),
    url("./img/2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* nav bar and image  */

img {
  object-fit: cover;
}

header {
  position: relative;
  color: white;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}

img {
  opacity: 0.9;
}

.navbar .left {
  position: absolute;
  top: 5px;
}

.navbar .right {
  position: absolute;
  top: 5px;
  right: 25px;
}

.navbar ul {
  list-style: none;
  display: flex;
  font-size: 1.3rem;
  margin: 1rem;
  cursor: pointer;
}

.navbar ul li {
  padding: 1rem;
  cursor: pointer;
}

/* content inside image */

header > h2 {
  color: white;
  font-size: 5rem;
}

.main-page {
  position: relative;
}

.head-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-title > h1 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 2.5rem;
  border: 2px solid #e23744;
  background-color: #e23744;
  color: white;
  margin-bottom: 5px;
  padding: 0.2rem 0.7rem;
  border-radius: 10px;
}

.title {
  font-weight: 300;
  padding-top: 0.7rem;
  font-size: 1.7rem;
  margin-bottom: 30px;
}

/* Search Bar CSS */

.search-bar {
  margin-top: 10px;
  background-color: white;
  padding: 0.7rem 0.7rem;
  border: 2px solid white;
}

.search-bar > input {
  border: none;
  outline: none;
}

.search-content {
  position: absolute;
  top: 180px;
  left: 450px;
}
