body {
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  margin: 1rem;
  padding: 1rem;
  max-width: 200px;
  justify-content: space-between;
}

.card p {
  flex-grow: 1;
}

.card .thumbnail {
  position: relative;
}

.card .remove {
  position: absolute;
  top: 0px;
  right: 0px;
}
